html,body {
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.login-page {
    background-color: #222;
}

.login-logo {
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
}

.login-logo img {
    width: 80px;
    height: 80px;
}

.login-logo span {
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    margin-left: 30px;
    font-weight: 600;
}

.container-login {
    width: 400px;
    margin: 7% auto;
}

@media only screen and (max-width: 400px) {
    .container-login {
        width: 95%;
    }
    .login-logo span {
        font-size: 22px;
        margin-left: 10px;
    }
}

.login-box-body {
    background: #fff;
    padding: 20px;
    border-top: 0;
    color: #666;
}

.login-box-msg {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.col-form-label {
    font-weight: bold;
}

.main-nav {
    height: 80px;
    box-shadow: 0 5px 11px 0 rgba(50, 50, 50, 0.08);
    border: 0;
    border-radius: 0 !important;
    background: #fff;
    z-index: 1000;
    width: 100%;
    position: fixed;
    top: 0;
}

/*@media (min-width: 1200px) {*/
/*    .container {*/
/*        width: 1170px;*/
/*    }*/
/*}*/

/*@media (min-width: 768px) {*/
/*    .container {*/
/*        width: 750px;*/
/*    }*/
/*}*/

.contain-top {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    width: 80px;
    height: 80px;
    display: grid;
    place-items: center;
}

.nav-left img {
    width: 55px;
    height: 55px;
}

a, a:hover {
    text-decoration: none;
    color: #404040;
    line-height: 35px;
}

.link-page {
    margin-left: 25px;
    font-size: 18px;
    font-weight: 600;
}

.nav-right a:hover {
    color: #007bff;
}

.nav-right a {
    font-size: 18px;
}

.nav-right {
    display: flex;
    flex-direction: row;
}

.contain-common {
    width: 100%;
    height: 100%;
}

.nav-right .btn-group{
    margin-left: 30px;
}

.main-body {
    width: 100%;
    height: 100%;
    padding-top: 80px;
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
}

.main-thong-ke {
    width: 100%;
    height: fit-content;
    padding-top: 80px;
    padding-bottom: 40px;
}

.main-footer {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.main-ql {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-page {
    float: none;
    z-index: 0;
    color: #404040;
    font-size: 55px;
    line-height: 65px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}

.title-chon-tk {
    float: none;
    z-index: 0;
    color: #404040;
    font-size: 40px;
    line-height: 65px;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 30px;
}

.contain-chon-tk {
    width: 600px;
    /*height: 500px;*/
    margin: 50px auto;
}

.contain-hoa-don {
    width: 700px;
    margin: 30px auto;
    /*border: 1px solid #dee2e6;*/
}

.active-mobile {
    display: none;
}

@media only screen and (max-width: 500px) {
    .contain-chon-tk {
        width: 95%;
    }
    .title-chon-tk {
        font-size: 23px;
        margin: 20px 0;
        line-height: 1;
    }
    .contain-hoa-don {
        width: 95%;
    }
    .option-home {
        display: none;
    }
    .active-mobile {
        display: inline-block;
    }
}

.ds-loat-tk {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ds-loat-tk a {
    display: inline-block;
    text-align: center;
    font-size: 25px;
    line-height: 30px;
    margin-bottom: 15px;
    width: 300px;
}

.ds-loat-tk a button {
    width: 300px;
}

.table th {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.table tbody td {
    vertical-align: middle;
    text-align: center;
    white-space: nowrap;
}

.table tbody tr {
    cursor: pointer;
}

.info-hoadon {
    margin: auto;
}

.info-hoadon table {
    border: none;
    width: auto;
}

.table-info-hoadon td,.table-info-hoadon th {
    border: none;
    text-align: left;
}

.table-info-hoadon tr td {
    text-align: left;
}

.info-hoadon-dichvu {
    margin: 20px auto;
}

.tr-tong-tien {
    border-bottom: 1px solid #dee2e6;
}